{
  "presets": ["@babel/preset-react", "@babel/preset-env"],
  "plugins": [
    "styled-jsx/babel",
    "@babel/plugin-transform-runtime",
    [
      "module-resolver",
      {
        "root": ["./src"],
        "alias": {
          "@": "./src"
        }
      }
    ]
  ]
}
